@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;700&display=swap');
body {
    font-family: 'Oswald'
}

.jumbotron {
    background-image: url(../img/negro2.jpg);
    background-size: cover;
    height: 100%;
    background-position-y: center;
    color: #ffffff;
    position: relative;
    background-position-x: center;
}

.container.carrusell img {
    max-width: 100%;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.container-hero {
    background-color: chartreuse;
}

.jumbotron div {
    bottom: 0;
    text-align: center;
    position: absolute;
}

img {
    width: 100%;
}

nav {
    background-color: #660066;
}

.jumbotron hr {
    background-color: #ffffff;
    height: 0.25em;
}

.nombre {
    font-size: 72pt;
    font-weight: bold;
}

.work {
    background-color: #660066;
}

footer {
    text-align: center;
    font-size: 40pt;
    background-color: #660066;
    color: #ffffff;
    font-weight: bold;
}

html {
    scroll-behavior: smooth;
}